<?xml version="1.0" encoding="UTF-8"?>
<plugin id="com.outsystems.plugins.camera" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>OSCameraPlugin</name>
    <description>OutSystems' cordova camera plugin</description>
    <author>OutSystems Inc</author>

    <js-module name="Camera" src="packages/cordova-plugin/dist/plugin.js">
        <clobbers target="cordova.plugins.Camera" />
    </js-module>

    <!-- android -->
    <platform name="android">

        <config-file target="res/xml/config.xml" parent="/*">

            <feature name="OSCameraPlugin">
                <param name="android-package" value="com.outsystems.plugins.camera.OSCameraPlugin" />
                <param name="onload" value="true" />
            </feature>

            <preference name="GradlePluginKotlinEnabled" value="true" />
            <preference name="GradlePluginKotlinCodeStyle" value="official" />
            <preference name="AndroidXEnabled" value="true" />

        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
        </config-file>

        <edit-config target="AndroidManifest.xml" parent="/*">
            <queries>
                <intent>
                    <action android:name="android.media.action.IMAGE_CAPTURE" />
                </intent>
                <intent>
                    <action android:name="android.intent.action.GET_CONTENT" />
                </intent>
                <intent>
                    <action android:name="android.intent.action.PICK" />
                </intent>
            </queries>
        </edit-config>

        <source-file src="packages/cordova-plugin/android/OSCameraPlugin.kt" target-dir="app/src/main/kotlin/org/com/outsystems/plugins/camera" />

        <framework src="packages/cordova-plugin/libs/android/build.gradle" custom="true" type="gradleReference" />
        
    </platform>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="OSCameraPlugin">
                <param name="ios-package" value="OSCameraPlugin" />
            </feature>
            <preference name="SwiftVersion" value="5" />
        </config-file>

        <preference name="CAMERA_USAGE_DESCRIPTION" default=" " />
        <config-file target="*-Info.plist" parent="NSCameraUsageDescription">
            <string>$CAMERA_USAGE_DESCRIPTION</string>
        </config-file>

        <preference name="PHOTOLIBRARY_USAGE_DESCRIPTION" default=" " />
        <config-file target="*-Info.plist" parent="NSPhotoLibraryUsageDescription">
            <string>$PHOTOLIBRARY_USAGE_DESCRIPTION</string>
        </config-file>

        <preference name="PHOTOLIBRARY_ADD_USAGE_DESCRIPTION" default=" " />
        <config-file target="*-Info.plist" parent="NSPhotoLibraryAddUsageDescription">
            <string>$PHOTOLIBRARY_ADD_USAGE_DESCRIPTION</string>
        </config-file>

        <preference name="MICROPHONE_USAGE_DESCRIPTION" default=" " />
        <config-file target="*-Info.plist" parent="NSMicrophoneUsageDescription">
            <string>$MICROPHONE_USAGE_DESCRIPTION</string>
        </config-file>

        <config-file target="*-Info.plist" parent="PHPhotoLibraryPreventAutomaticLimitedAccessAlert">
            <true />
        </config-file>

        <source-file src="packages/cordova-plugin/ios/OSCameraPlugin.swift" />

        <podspec>
            <config>
                <source url="https://cdn.cocoapods.org/"/>
            </config>
            <pods use-frameworks="true">
                <pod name="IONCameraLib" spec="0.1.0" />
            </pods>
        </podspec>
    </platform>

</plugin>
